body{
    background-color: gray;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}
.container {
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}
.post-box {
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgb(59, 59, 59);
    width: 300px;
    height: 400px;
}